<body>

<header>
  <h1>ZOEKEN</h1>
</header>

<main>
  <% users.forEach(function (user) { %>
  <div class="card">
    <img src="images/vrouw.png" alt="John" style="width:100%">
    <a href="/user/<%= user._id %>"> <h1><%= user.firstname %>, <%= user.age %></h1>
    <p class="title"><%= user.place %>, afstand</p>
    <p><%= user.bio %></p></a>
  </div>
  <% }) %>
</main>
</body>
