<!DOCTYPE html>
<html lang="EN">

<% include partials/head.ejs %>

<% include partials/nav.ejs %>

<body>
  <% if (typeof session !== 'undefined' && session.loggedIn) { %>

  <main>
      <div class="omslag">
        <img class="omslag" src="/images/vrouw.png" alt="profiel foto">
        <img class="banner" src="/images/banner.jpg" alt="omslag foto">
      </div>

<article>

  <h1>Naam: <%= user.firstname %> <%= user.lastname %>, <%= user.age %> jaar</h1>
  <h2>Woonplaats: <%= user.place %></h2>
  <p>"<%= user.bio %>"</p>

</article>
<section>
  <h1>OVER MIJ</h1>
  <table>
    <tr>
      <th>Algemeen</th>
      <th> </th>
      <th>Voorkeuren</th>
      <th> </th>
    </tr>
    <tr>
      <td>Voornaam</td>
      <td><%= user.firstname %></td>
      <td>Woonplaats</td>
      <td><%= user.place %></td>
    </tr>
    <tr>
      <td>Achternaam</td>
      <td><%= user.lastname %></td>
      <td>Max. afstand</td>
      <td><%= user.afstand %></td>
    </tr>
    <tr>
      <td>Geslacht</td>
      <td><%= user.gender %></td>
      <td>Opzoek naar</td>
      <td><%= user.pref %></td>
    </tr>
    <tr>
      <td>Leeftijd</td>
      <td><%= user.age %></td>
      <td>Seksualiteit</td>
      <td><%= user.sex %></td>
    </tr>
  </table>

</section>

<section>
  <a class="button" href="/aanpassen">Profiel aanpassen</a>
  <a class="button" href="/logout">Uitloggen</a>
    <button id="remove" data-id="<%= session.user._id %>" type="submit">Verwijder mijn profiel</button>
</section>

<% } else { %>

  <form class="login" action="/" method="post">
    <label><input type="email" name="username" placeholder="E-mailadres"></label>
    <label><input type="password" name="password" placeholder="Wachtwoord"></label>
    <button type="submit">Inloggen</button>
    <a class="button" href="/register">Registreren</a>
  </form>

<% } %>

</main>

<script src="/js/delete.js"></script>

</body>


</html>
