<!DOCTYPE html>
<html lang="EN">

<% include partials/head.ejs %>

<% include partials/nav.ejs %>

<body>

    <main>
      <div class="omslag">
        <img class="omslag" src="/images/mann.png" alt="profiel foto">
        <img class="banner" src="/images/banner.jpg" alt="omslag foto">
      </div>
  <nav class="menu">
  <!-- <ul class="menu">
    <li><a href="/vrienden" class="menu">
      <img class="menu" alt="vrienden"  src="/images/heart.png">
      VRIEND
    </a></li>
    <li><a href="/favorieten" class="menu">
      <img class="menu" alt="favorieten" src="/images/heart.png">
      FAVORIET
    </a></li>
    <li><a href="/likes" class="menu">
      <img class="menu" alt="Chats" src="/images/heart.png">
      LIKE
    </a></li>
    <li><a href="/voorkeuren" class="menu">
      <img class="menu" alt="Instellingen" src="/images/heart.png">
      CHAT
    </a></li>
  </ul> -->
</nav>

    <article>
      <h1>Naam: <%= user.firstname %> <%= user.lastname %>, <%= user.age %> jaar</h1>
      <h2>Woonplaats: <%= user.place %></h2>
    <p>"<%= user.bio %>"</p>
    </article>

    <section>
      <h1>OVER MIJ</h1>
      <table>
        <tr>
          <th>Algemeen</th>
          <th> </th>
          <th>Voorkeuren</th>
          <th> </th>
        </tr>
        <tr>
          <td>Voornaam</td>
          <td><%= user.firstname %></td>
          <td>Woonplaats</td>
          <td><%= user.place %></td>
        </tr>
        <tr>
          <td>Achternaam</td>
          <td><%= user.lastname %></td>
          <td>Max. afstand</td>
          <td><%= user.afstand %></td>
        </tr>
        <tr>
          <td>Geslacht</td>
          <td><%= user.gender %></td>
          <td>Opzoek naar</td>
          <td><%= user.pref %></td>
        </tr>
        <tr>
          <td>Leeftijd</td>
          <td><%= user.age %></td>
          <td>Seksualiteit</td>
          <td><%= user.sex %></td>
        </tr>
      </table>

    </section>


</main>
</body>


</html>
